<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MSLauncher.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MSLauncher.UI.Properties.Settings>
            <setting name="AllocatedRamMb" serializeAs="String">
                <value>4096</value>
            </setting>
            <setting name="BackgroundImage" serializeAs="String">
                <value>classic</value>
            </setting>
        </MSLauncher.UI.Properties.Settings>
        <UI.Properties.Settings>
            <setting name="AllocatedRamMb" serializeAs="String">
                <value>4096</value>
            </setting>
            <setting name="BackgroundImage" serializeAs="String">
                <value>classic</value>
            </setting>
        </UI.Properties.Settings>
    </userSettings>
</configuration>